* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.legacy-form-row {
    padding: 10px;
    border: solid black 2px;
  }

  .line-content {
    margin-top: 20px;
}

#fullname {
    range: 10, 40;
}
