.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 250px;
    position: absolute;
    top: 400px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    margin-left: 340px;
    top: 70px;
    margin-top: 0px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    margin-left: 350px;
    z-index: 2;
    top: 95px;
  }
  
  .bowser {
    width: 300px;
    margin-left: 500px;
    position: absolute;
  }